 :root { 
  /* Mulher Fit - Principal */
  --roxo :#8236a5; 
  --roxo-azulado :#532470;
   
  /* Mulher Fit - Secundária */
  --verde1 :#A4BDB2;
  --verde2 :#BAD5CA; 
  --verde3 :#A0E5E1; 

 
  /* Cores Neutras */
  --branco: #FFFFFF;
  --cinza: #F4F5F8;
  --preto: #020202;
}


.cor-1 {
  color: var(--roxo);
}

.cor-2 {
  color: var(--roxo-azulado);
}

.cor-3 {
  color: var(--verde1);
}

.cor-4 {
  color: var(--verde2);
}

.cor-5 {
  color: var(--verde3);
}

.cor-branco {
  color: var(--branco);
}

.cor-cinza {
  color: var(--cinza);
}

.cor-preto {
  color: var(--preto);
}















/* Fontes */
.font-1 {
  color: var(--branco);
}

.font-2 {
  color: var(--cinza);
}

.font-3 {
  color: var(--preto);
}