.font-h1 {
  font: 500 64px/1.3 "Josefin Sans", sans-serif;
}

.font-h2 {
  font: 400 24px/1.5 "Josefin Sans", sans-serif;
}

.font-header {
  font: 400 18px/1.35 "Josefin Sans", sans-serif;
}

.font-p {
  font: 400 16px/1.3 "Roboto", sans-serif;
}

.font-p-m {
  font: 400 22px/1.3 "Roboto", sans-serif;
}


.font-logo {
  font: 500 42px/1.5 "Josefin Sans", sans-serif;
}

.font-botao {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}