body {
  margin: 0px;
}

h1, h2, h3, ul, li, p, dd, dt, dl {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.medidas {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  padding-top: 30px;
  padding-bottom: 60px;
}