.modalidades h2 {
  margin-left: 40px;
  margin-top: 60px;
}

.modalidades-tipos h3 {
  margin-top: 20px;
}

.modalidades-tipos h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 18px;
  margin-right: 8px;
  background-color:var(--roxo);
  margin-left: 5px;
}

.modalidades ul img { 
  border-radius: 2px;
}

.alongamento {
  background: var(--roxo);
  box-shadow: inset 0 -70px 380px #fff, inset 0 70px #fff;
  margin-bottom: 10px;
  padding: 30px;
  }

.gravidas {
  background: var(--roxo);
  box-shadow: inset 0 -70px 380px #fff, inset 0 70px #fff;
  margin-top: 60px;
  padding: 30px;
  }

.ballet {
  background: var(--roxo);
  box-shadow: inset 0 -70px 380px #fff, inset 0 70px #fff;
  margin-top: 60px;
  padding: 30px;
  }

.yoga {
  background: var(--roxo);
  box-shadow: inset 0 -70px 380px #fff, inset 0 70px #fff;
  margin-top: 60px;
  padding: 30px;
  }

.pilates {
  background: var(--roxo);
  box-shadow: inset 0 -70px 380px #fff, inset 0 70px #fff;
  margin-top: 60px;
  padding: 30px;
  }






