.sobre-bg {
  background: var(--cinza);
  box-shadow: inset 0 -40px #fff;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 60px;
}

.sobre-conteudo {
  align-self: flex-end;
  padding-bottom: 200px;
}

.sobre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 2px 2px;
}

.sobre h1 {
  margin-top: 70px;
  margin-bottom: 32px;
  width: 420px;
}

.sobre p {
  margin-bottom: 20px;
  width: 420px;
  letter-spacing: 2;
}

@media (max-width: 800px) {
  .sobre {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .sobre h1 {
    font-size: 32px;
    margin-top: 16px;
  }
  .sobre p {
    font-size: 16px;
    margin-bottom: 20px;
    width: 420px;
    letter-spacing: 2;
  }
  .sobre-bg {
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-branco);
  }
 .sobre.sobre-conteudo {
  padding-bottom: 0px;
 }
 .sobre img {
  height: 300px;
  width: 100%;
  margin-top: -10px;
  border-radius: 2px 2px 2px 2px;
 }
}